<head>
  <%= render "layouts/header"%>
</head>

<body>
  <h1>User</h1>

  <p>Email: <%= @user.email %></p>

  <p>Role: <%= @user.role %></p>

  <% if current_user.admin? %>
  <li>
    <%= link_to "Delete", admin_destroy_user_path(@user), method: :delete, data: { confirm: "You sure?" } %>
  </li>
  <li>
    <%= link_to "Edit", edit_user_registration_path %>
  </li>
  <% end %>
</body>

<footer>
  <%= render "layouts/footer"%>
</footer>